{%  for project in profile.list_projects %}
                    <div class="portfolio-modal modal fade center" id={{ project.id }} tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" style="max-width: 75%; margin: 0 auto;">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.proj_name }}</h2>
                            <hr class="star-primary">
                            <img src={{ project.icon.url }} class="img-responsive img-centered" alt="">
                           <p>{{ project.description }}</p>
                            <ul class="list-inline item-details">

                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ project.date }}</a>
                                    </strong>
                                </li>
                                <li>Languages:
                                    {% for lang in project.list_languages %}<strong><a href="">{{ lang }}</a>
                                    {%  if forloop.counter < project.list_languages|length %}
                                        , {% endif %}

                                    </strong>
                                    {% endfor %}

                                </li>
                                {% if project.link %}
                                <li>
                                    Repo:<strong><a href={{ project.link }}>GitHub</a></strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endfor %}